---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="grid grid-cols-12 gap-5 mb-5">
    <div class="2xl:col-span-3 lg:col-span-4 col-span-12">
      <div
        class="bg-no-repeat bg-cover bg-center p-4 rounded-[6px] relative"
        style="background-image: url(assets/images/all-img/widget-bg-1.png)"
      >
        <div class="max-w-[180px]">
          <div class="text-xl font-medium text-slate-900 mb-2">Upgrade your Dashcode</div>
          <p class="text-sm text-slate-800">Pro plan for better results</p>
        </div>
        <div
          class="absolute top-1/2 -translate-y-1/2 ltr:right-6 rtl:left-6 mt-2 h-12 w-12 bg-white rounded-full text-xs font-medium flex flex-col items-center justify-center"
        >
          Now
        </div>
      </div>
    </div>
  </div>
</Layout>
