---
import { ViewTransitions } from "astro:transitions";
import Header from "../components/layout/Header.astro";
import Sidebar from "../components/layout/Sidebar.astro";
import "../styles/global.css";
import SettingsToggleButton from "../components/layout/Settings/SettingsToggleButton.astro";
import SettingsModal from "../components/layout/Settings/SettingsModal.astro";
import SearchModal from "../components/layout/Settings/SearchModal.astro";
---

<!doctype html>
<html lang="en" dir="ltr" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
    <ViewTransitions />
    <link rel="icon" type="image/png" href="/assets/images/logo/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="anonymous" />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
    <!-- BEGIN: Theme CSS-->
    <link rel="stylesheet" href="/assets/css/rt-plugins.css" />
    <link rel="stylesheet" href="/assets/css/app.css" />
    <!-- End : Theme CSS-->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" is:inline></script>
    <script src="/assets/js/settings.js" is:inline></script>
  </head>
  <body class="font-inter dashcode-app" id="body_class">
    <main class="app-wrapper">
      <!-- BEGIN: Sidebar -->
      <Sidebar />
      <!-- END: Sidebar -->
      <!-- Settings Toggle Button -->
      <!-- <SettingsToggleButton /> -->
      <!-- END: Settings Toggle Button -->
      <!-- BEGIN: Settings Modal -->
      <SettingsModal />
      <!-- END: Settings Modal -->
      <div class="flex flex-col justify-between min-h-screen">
        <div>
          <!-- BEGIN: Header -->
          <Header />
          <!-- END: Header -->
          <!-- BEGIN: Search Modal -->
          <SearchModal />
          <!-- END: Search Modal -->
          <div
            class="content-wrapper transition-all duration-150 ltr:ml-[248px] rtl:mr-[248px]"
            id="content_wrapper"
          >
            <div class="page-content">
              <div class="transition-all duration-150 container-fluid" id="page_layout">
                <div id="content_layout">
                  <div>
                    <slot />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    <script src="/assets/js/rt-plugins.js" is:inline></script>
    <script src="/assets/js/app.js" is:inline></script>
    <script src="/assets/js/app-chat.js" is:inline></script>
  </body>
</html>
